body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pro_config_provider_1 .ant-pro-form-login-page-notice {
  display: none;
}

.pro_config_provider_1 .ant-picker {
  width: 100%;
}

.pro_config_provider_1 .ant-upload {
  width: 100% !important;
}

.pro_config_provider_1 .ant-pro-form-login-page {
  min-height: 100% !important;
  height: auto;
  justify-content: center !important;
}

.menu_1.ant-menu-dark .ant-menu-item,
.menu_1.ant-menu-dark .ant-menu-submenu-title,
.menu_1.ant-menu-dark .ant-menu-item a {
  color: white !important;
}

/* Đảm bảo chữ trắng cho submenu */
.menu_1.ant-menu-dark .menu_1.ant-menu-submenu>.ant-menu-submenu-title {
  color: white !important;
}

@media (min-width: 577px) {
  .pro_config_provider_1 .ant-pro-form-login-page-main {
    width: 485px !important;
  }
}

.upload_1 {
  .ant-upload-select {
    width: 100% !important;
  }
}

.table_2 {
  .ant-table-tbody>tr>td {
    border-bottom: 1px solid #d4d4d4;
  }

  .ant-table-thead>tr>th {
    border-bottom: 1px solid black;
    background: #e5e5e5;
  }

  .ant-table-thead>tr:first-child>*:first-child {
    border-start-start-radius: 5px;
  }

  .ant-table-thead>tr:first-child>*:last-child {
    border-start-end-radius: 5px;
  }
}

.notification-details {
  display: flex;
  flex-direction: column;
}

.notification-details p {
  display: flex;
  margin: 0px;
  margin-bottom: 10px;
}

.notification-details .label {
  width: 85px;
  font-weight: bold;
  flex-shrink: 0;
}

.notification-details .value {
  flex: 1;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}

.notification-details-1 {
  display: flex;
  flex-direction: column;
}

.notification-details-1 p {
  display: flex;
  margin: 0px;
  margin-bottom: 10px;
}

.notification-details-1 .label {
  width: 100px;
  font-weight: bold;
  flex-shrink: 0;
}

.notification-details-1 .value {
  flex: 1;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
}

.notification-details-1 .circular-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.notification-bell {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation: ring 1s infinite;
  color: #ff4d4f;
  font-size: 16px;
}


@keyframes ring {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(15deg);
  }

  20% {
    transform: rotate(-15deg);
  }

  30% {
    transform: rotate(10deg);
  }

  40% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(5deg);
  }

  60% {
    transform: rotate(-5deg);
  }

  70% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.notification-badge {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
  animation: color-change-text 1s infinite alternate;
}

/* Hiệu ứng đổi màu chữ */
@keyframes color-change-text {
  0% {
    color: #fff;
    /* Trắng */
  }

  50% {
    color: #ffc107;
    /* Vàng */
  }

  100% {
    color: #28a745;
    /* Xanh lá */
  }
}

.my-custom-pagination .ant-pagination-prev .ant-pagination-item-link,
.my-custom-pagination .ant-pagination-next .ant-pagination-item-link {
  color: white;
}