.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;

    .title {
        font-size: 21px;
        font-weight: 500;
        color: #ED462F
    }

    .button {
        font-size: 12px;
        background-color: #532FE6;
        color: white;
    }
}

.coverImage {
    height: 250px;
    width: auto;
    object-fit: cover;
    margin: 0 auto;
}

.subInfo {
    color: #6C757D;
    font-size: 14px;
    text-align: left;
    margin-top: 8px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-grow: 1;
    /* Đảm bảo thẻ card có thể giãn ra khi cần thiết */
}