.personalInfoContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 24px;
    text-align: center;
}

.personalInfoContainer h1 {
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: bold;
}

.field {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.field label {
    margin-bottom: 8px;
    font-weight: 500;
}

.field input,
.field select {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}