.home_page {
    position: relative;

    .header {
        display: flex;
        justify-content: center;
        background-color: #001529;
        padding: 0 20px;
        position: sticky;
        top: 0;
        z-index: 100;
        height: 64px;
    }

    .headerContent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1024px;
    }

    .logo {
        display: flex;
        align-items: center;
        /* Căn giữa theo chiều dọc */
        justify-content: center;
        /* Căn giữa theo chiều ngang */
        gap: 10px;
        /* Khoảng cách giữa ảnh và chữ */
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
        color: #ED462F;
    }

    .logo img {
        display: block;
    }

    .searchBar {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 20px;
    }

    .searchBar .ant-input-search {
        width: 100%;
        max-width: 600px;
    }

    .accountSection {
        display: flex;
        align-items: center;
        color: #fff;
    }

    .loggedOut {
        display: flex;
        gap: 10px;
    }

    .menuButton {
        position: absolute;
        right: 16px;
        top: 15px;
        background-color: #022a4f;
        color: #ffffff;
        border: none;
        font-size: 24px;
        cursor: pointer;
        padding: 0 0 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
    }

    .dropdownMenu .ant-dropdown-menu-item {
        transition: all 0.3s ease;
    }

    .dropdownMenu .ant-dropdown-menu-item:hover {
        font-weight: bold;
        color: #ED462F;
    }

    @media (max-width: 768px) {
        .headerContent {
            display: none;
        }

        .menuButton {
            display: flex;
        }
    }

    @media (max-width: 845px) {
        .headerContent {
            display: none;
        }

        .menuButton {
            display: flex;
        }
    }

    @media (min-width: 846px) {
        .menuButton {
            display: none;
        }

        .searchBar {
            width: 260px;
            margin: 0px;
        }
    }

    @media (min-width: 1024px) {
        .menuButton {
            display: none;
        }

        .searchBar {
            width: 500px;
        }
    }

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.ant-drawer-content {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.ant-drawer-header {
    background-color: #f0f0f0;
    border-bottom: 1px solid #d9d9d9;
}

.ant-drawer-title {
    font-weight: bold;
    font-size: 18px;
    text-align: left;
}

.ant-menu-item {
    padding: 8px 16px;
    color: #333;
    transition: background-color 0.3s;
}

.ant-menu-item:hover {
    background-color: #f5f5f5;
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-bottom: 16px;
}

.userInfo .ten {
    margin-bottom: 10px;
    font-weight: bold;
}

.userInfo .ant-avatar {
    margin-bottom: 10px;
}

.authButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-bottom: 16px;
}

.authButtons .ant-btn {
    margin-right: 10px;
}

.authButtons .ant-btn:last-child {
    margin-right: 0;
}