.personalInfoContainer {
    max-width: 900px;
    margin: 0 auto;
    padding: 24px;
    text-align: center;
}

.personalInfoContainer h1 {
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: bold;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.vip_blink {
    animation: blink 1s infinite;
    color: gold;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}