.pageContainer {
    padding: 20px;
    text-align: center;

    .title {
        font-size: 28px;
    }
}

@media (max-width: 768px) {
    .pageContainer {
        padding: 20px;
        text-align: center;

        .title {
            font-size: 24px;
        }
    }
}

@media (max-width: 414px) {
    .pageContainer {
        padding: 20px;
        text-align: center;

        .title {
            font-size: 18px;
        }
    }
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}

.tableContainer {
    margin-top: 30px;
}

.blinking_text {
    font-weight: bold;
    animation: blink 1.5s infinite;
}

/* Hiệu ứng nhấp nháy màu sắc thứ nhất */
.color1 {
    animation: changeColor1 3s infinite;
}

@keyframes changeColor1 {
    0% {
        color: #ff0000;
        /* Đỏ */
    }

    25% {
        color: #00ff00;
        /* Xanh lá */
    }

    50% {
        color: #0000ff;
        /* Xanh dương */
    }

    75% {
        color: #ff00ff;
        /* Hồng */
    }

    100% {
        color: #ff0000;
        /* Đỏ */
    }
}

/* Hiệu ứng nhấp nháy màu sắc thứ hai (ngược thứ tự) */
.color2 {
    animation: changeColor2 3s infinite;
}

@keyframes changeColor2 {
    0% {
        color: #ff00ff;
        /* Hồng */
    }

    25% {
        color: #0000ff;
        /* Xanh dương */
    }

    50% {
        color: #00ff00;
        /* Xanh lá */
    }

    75% {
        color: #ff0000;
        /* Đỏ */
    }

    100% {
        color: #ff00ff;
        /* Hồng */
    }
}

/* Hiệu ứng nhấp nháy (opacity chung) */
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 576px) {
    .card {
        margin-bottom: 10px;
    }
}