.personalInfoContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 24px;
    text-align: center;
}

.personalInfoContainer h1 {
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: bold;
}

.avatarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 12px;
}

.uploadAvatar {
    margin-top: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /* Đường viền mỏng, màu mờ */
    border-radius: 4px;
    /* Bo góc nhẹ */
    padding: 5px;
    /* Tạo khoảng cách bên trong */
    outline: none;
    /* Xóa viền mặc định khi focus */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    /* Hiệu ứng bóng nhẹ */
    transition: all 0.3s ease;
    /* Hiệu ứng chuyển đổi mượt mà */
}

.uploadAvatar:hover {
    border-color: rgba(0, 0, 0, 0.4);
    /* Đổi màu viền khi hover */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    /* Tăng hiệu ứng bóng khi hover */
}

.uploadAvatar:focus {
    border-color: rgba(0, 123, 255, 0.8);
    /* Màu viền khi được focus */
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.4);
    /* Bóng xanh khi focus */
}

.infoFields {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
}

.field {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.field label {
    margin-bottom: 8px;
    font-weight: 500;
}

.field input,
.field select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

.updateButtonContainer {
    text-align: center;
    margin-top: 20px;
}

.updateButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.updateButton:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .personalInfoContainer h1 {
        font-size: 24px;
    }
}

@media (max-width: 414px) {
    .personalInfoContainer h1 {
        font-size: 18px;
        /* Font chữ nhỏ hơn cho màn hình nhỏ */
    }

    .personalInfoContainer {
        padding: 16px;
    }

    .avatar {
        width: 120px;
        height: 120px;
    }

    .infoFields {
        grid-template-columns: 1fr;
    }

    .field input,
    .field select {
        font-size: 14px;
        padding: 6px;
    }
}