.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding-bottom: 40px;
    min-height: 100vh;

    .carousel_none {
        display: flex;
    }

    @media (max-width: 1024px) {
        .carousel_none {
            display: none !important;
        }
    }

    .title_1 {
        width: 100%;
        max-width: 1024px;
        height: 100px;
        align-items: center;
        display: flex;
        justify-content: center;

        >h1 {
            color: #ED462F;
        }
    }

    .title_2 {
        width: 100%;
        max-width: 1024px;
        height: 100px;
        align-items: start;
        display: flex;
        justify-content: start;

        @keyframes blink {
            0% {
                color: #ED462F;
                opacity: 1;
            }

            25% {
                color: #FFD700;
                opacity: 1;
            }

            50% {
                color: #32CD32;
                opacity: 0;
            }

            75% {
                color: #1E90FF;
                opacity: 1;
            }

            100% {
                color: #ED462F;
                opacity: 1;
            }
        }

        >h2 {
            animation: blink 1s infinite;
        }
    }

    .responsiveGrid {
        width: 100%;
        margin: 0 auto;
        max-width: 1024px;
    }

    .responsiveCol {
        width: 100% !important;
        flex: 0 0 100%;
    }

    .pagination_1 {
        width: 100%;
        max-width: 1024px;
        height: 100px;
        align-items: center;
        display: flex;
        justify-content: center;
    }
}